/**
 * Общие стили для таблиц
 */

table {
  border-collapse: collapse;

  tr {
    border-bottom: 1px solid var(--border-color);
  }

  th {
    background: var(--bg-secondary);
    color: var(--text-secondary);
    font-weight: 400;
    text-align: left;
  }

  th,
  td {
    padding: 12px 15px;
  }

  tbody tr.empty-data {
    text-align: center;
    font-style: italic;
    color: var(--gray-500);
  }
}