/**
 * Общие переменные с палитрой и стилями элементов приложения
 */
:root {
  // Палитра
  --gray-100: #f9f9f9;
  --gray-200: #f2f2f2;
  --gray-300: #efefef;
  --gray-350: #e6e6e6;
  --gray-400: #dbdbdb;
  --gray-500: #c4c4c4;

  // Основные цвета
  --brand-primary: #aa8800;
  --brand-primary-light: #ddb100;
  --brand-primary-dark: #886600;
  --bg-primary: var(--gray-100);
  --bg-secondary: var(--gray-200);
  --text-primary: #2f2f2f;
  --text-secondary: #676767;
  --border-color: var(--gray-400);
  --color-success: #26b963;
  --color-success-dark: #208e4e;
  --color-error: #e74c3c;
  --color-error-dark: #c0392b;
  --color-warning: #f39c12;
  --color-warning-dark: #d35400;
  --color-info: #3498db;
  --color-info-dark: #2980b9;

  // Общие значения
  --radius: 5px;
  --shadow-sm: 0 2px 4px rgba(0, 0, 0, 0.05);
  --shadow-md: 0 10px 10px rgba(0, 0, 0, 0.1);
  --font-size-primary: 15px;
  --line-height-primary: 145%;
  --font: 'Open Sans', sans-serif;
}