/**
 * Корневой файл стилей, включает общие цвета, стили и переменные
 *
 * Используется для придания единого стиля разным частям приложения, включая микро-фронтенды
 */
@use 'fonts';
@use 'variables';
@use 'typography';
@use 'table';
@use 'controls';
@use 'notifications';

body {
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: var(--bg-primary);
  font: var(--font-size-primary)/var(--line-height-primary) var(--font);
  line-height: var(--line-height-primary);
  letter-spacing: 0.02em;
  color: var(--text-primary);
}

/* Корневой шаблон. Контейнер для микро-фронтендов */
#root-layout {
  display: grid;
  grid-template-columns: min-content 1fr 1fr;
  height: 100%;
  margin: 0 auto;
  width: 100%;
  box-sizing: border-box;
  overflow: auto;
}

#app-sidebar {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 40px;
  border-left: 1px solid var(--brand-primary-light);
  background: var(--brand-primary);
  color: white;
  grid-row: span 2;

  .user-avatar {
    cursor: pointer;

    .user-icon {
      width: 14px;
      height: 14px;
      fill: white;
    }

    &:hover {
      .user-icon {
        fill: var(--gray-400);
      }
    }
  }

}

@media (max-width: 1200px) {
  #root-layout {
    grid-template-columns: min-content 1fr;
  }
}